body {
    background-color: rgb(126, 239, 116);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

span {
    font-size: 200px;
    margin-left: 30px;
    font-family: 'Permanent Marker', cursive;
    transition: color 1000ms;
}